.home_data {
  margin-top: 35px;
}
.home {
  background-image: url(../../assets//bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  height: 100vh;
}
.home_container {
  row-gap: 5rem;
}
.link1 {
  text-decoration: none;
}
.home_content {
  grid-template-columns: 116px repeat(2, 1fr);

  column-gap: 2rem;
  align-items: center;
}

.home_social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home_social-icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.home_social-icon:hover {
  color: var(--highlight-color);
  transform: Scale(1.3)
}

.home_title {
  font-family: "Spectral", serif;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
  color: #232323;
  
}
#empz {
  color: #7c9de0;
}

.home_subtitle {
  position: relative;
  font-size: var(--h3-font-size);
  padding-left: 5rem;
  padding-right: 5rem;
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-0-75);
  color: #7c9de0;
}
.home_subtitle::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 1px;
  background-color: var(--text-color);
  left: 0;
  top: 1rem;
}
.home_subtitle::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 1px;
  background-color: var(--text-color);
  left: 20;
  top: 1rem;
}
.home_description {
  max-width: 400px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: var(--mb-3);
  text-align: justify;
  font-family: "Karla-light", sans-serif;
  text-justify: distribute;
  display: block;
  margin-block-start: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.home_head {
  max-width: 200px;
  font-size: 20px;
  font-family: "karla-semibold", sans-serif;
  text-justify: distribute;
  color: var(--special-color);
}

.home_img {
  background: url(../../assets//profile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
  order: 1;
  justify-self: center;
  width: 300px;
  height: 300px;
  animation: profile_animate 8s ease-in-out infinite 1s;
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  25% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  75% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  100% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
}
.wheel {
  animation: scroll 2s ease infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(3.75rem);
  }
}

.home_scroll-name {
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
  margin-left: 2px;
}
.home_scroll-name:hover {
  color: var(--highlight-color);
}
.home_scroll-arrow {
  font-size: 1.25rem;
  color: var(--title-color);
}
@media screen and (max-width: 992px) {
  .home_content {
    grid-template-columns: 100px repeat(2, 1fr);
    column-gap: 1.25rem;
  }

  .home_subtitle {
    padding-left: 3.75rem;
    margin-bottom: var(--mb-1);
  }
  .home_subtitle::before {
    width: 42px;
    top: 0.8rem;
  }
  .home_subtitle::after {
    width: 42px;
    top: 0.8rem;
  }
  .home_description {
    max-width: initial;
    font-size: 18px;
    margin-bottom: var(--mb-2-5);
  }

  .home_img {
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 0 8px rgb(255 255 255 / 30%);
  }
  .home_data {
    margin-top: 10px;
    margin-bottom: 50px;
  }
}
/* medium */
@media screen and (max-width: 768px) {
  .home_content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
  }
  .home_img {
    order: initial;
    justify-self: initial;
    box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
    width: 200px;
    height: 200px;
  }
  .home_data {
    margin-top: none;
    grid-column: 1/3;
  }
  .home_scroll {
    display: none;
  }
}
/* small  */
@media screen and (max-width: 350px) {
  .home_img {
    width: 180px;
    height: 180px;
  }
}
